<section class="c-bg" style="padding-top:8rem;padding-bottom:6rem;min-height:70vh">
  <div class="px" style="max-width:42rem;margin:0 auto">
    <h1 class="h-lg c-fg" style="margin-bottom:2rem">{{ page.title }}</h1>
    <div class="sep" style="margin-bottom:2rem"></div>
    <div class="c-fg2" style="font-size:0.8125rem;font-weight:300;line-height:2">{{ page.content }}</div>
  </div>
</section>
